{block content}
<h2 style="color:#ad0c0c;">Nové dílo</h2>
{import '../components/form.latte'}
{include bootstrap4-form literaturaForm}
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
